---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import Whyme from "../components/Whyme.astro"
---

<MainLayout>
	<body class="relative">
		<Header></Header>
		<Hero></Hero>
		<Whyme></Whyme>
	</body>
</MainLayout>
