---
import Button from "./button.astro";
---

<section
  id="contact"
  class="w-full p-4 py-12 max-w-screen-2xl mx-auto xl:py-32 lg:py-20"
>
  <h1 class="text-4xl text-center self-center text-white">Контакты</h1>
  <p class="text-center self-center text-white my-6">
    Отправьте нам письмо либо используйте мессенджер.
  </p>
  <div
    id="contact-container"
    class="flex border mx-auto border-none flex-wrap justify-center gap-6 md:px-12 py-7"
  >
    <div id="form-wrap" class="basis-full lg:basis-[49%]">
      <form method="POST" netlify class="flex flex-col md:items-stretch">
        <div class="mb-6">
          <label for="name" class="block mb-2 text-sm font-medium text-white"
            >Имя</label
          >
          <input
            type="text"
            name="name"
            id="name"
            class="border text-white text-sm rounded-sm block w-full placeholder-opacity-40 p-2.5 bg-base-700 placeholder-slate-100 focus:outline-pinky-500 border-none focus:outline-none focus:border-pinky-500"
            placeholder="Иван Иванов"
            required
          />
        </div>
        <div class="mb-6">
          <label for="email" class="block mb-2 text-sm font-medium text-white"
            >Email</label
          >
          <input
            type="email"
            id="email"
            class="border text-white text-sm rounded-sm block w-full placeholder-opacity-40 p-2.5 bg-base-700 placeholder-slate-100 focus:outline-pinky-500 border-none focus:outline-none focus:border-pinky-500"
            placeholder="ivanivanov@gmail.com"
            required
          />
        </div>
        <div class="mb-6">
          <label for="email" class="block mb-2 text-sm font-medium text-white"
            >Сообщение</label
          >
          <textarea
            id="textarea"
            name="message"
            class="border text-white text-sm rounded-sm block w-full placeholder-opacity-40 p-2.5 bg-base-700 placeholder-slate-100 focus:outline-pinky-500 border-none focus:outline-none focus:border-pinky-500"
            required
          >
          </textarea>
        </div>

        <button
          type="submit"
          id="button-contact"
          class=`rounded-sm self-center lg:self-start bg-white px-4 py-2 flex active:scale-95 hover:bg-pinky-200 justify-center w-fit sm:mx-0 sm:self-start`
        >
          <p class="text-base-950">Отправить</p>
        </button>
        <div id="contacts" class="justify-start mt-8 gap-4 lg:flex hidden">
          <a href="https://t.me/dannigma">
            <svg
              class="fill-white hover:fill-pinky-100 active:scale-95"
              width="41"
              height="37"
              viewBox="0 0 41 37"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                id="Vector"
                d="M37.5724 0.503686C37.0774 0.539697 36.5916 0.655817 36.1338 0.847515H36.1277C35.6882 1.02174 33.5991 1.90059 30.4229 3.23274L19.041 8.02631C10.8739 11.4646 2.84559 14.8505 2.84559 14.8505L2.94118 14.8135C2.94118 14.8135 2.38766 14.9954 1.80947 15.3917C1.45227 15.619 1.1449 15.9164 0.905958 16.2659C0.62226 16.6822 0.394069 17.319 0.47887 17.9773C0.617635 19.0905 1.33921 19.7581 1.85727 20.1266C2.3815 20.4998 2.88105 20.674 2.88105 20.674H2.89339L10.4222 23.2103C10.7598 24.2942 12.7164 30.7268 13.1867 32.2085C13.4642 33.0935 13.734 33.647 14.0717 34.0695C14.2351 34.2853 14.4263 34.4657 14.6561 34.6107C14.7755 34.6801 14.9028 34.735 15.0353 34.7741L14.9583 34.7556C14.9814 34.7618 14.9999 34.7803 15.0168 34.7864C15.0785 34.8034 15.1201 34.8096 15.1988 34.8219C16.3906 35.1827 17.3481 34.4426 17.3481 34.4426L17.4021 34.3994L21.8472 30.3521L29.2973 36.0677L29.4669 36.1402C31.0196 36.8216 32.5922 36.4424 33.4233 35.7732C34.2605 35.0994 34.5858 34.2375 34.5858 34.2375L34.6398 34.0988L40.397 4.60497C40.5605 3.87722 40.6021 3.19573 40.4217 2.53429C40.2356 1.86486 39.8061 1.28911 39.2175 0.919981C38.7232 0.619501 38.1501 0.474466 37.5724 0.503686ZM37.4166 3.66445C37.4105 3.76159 37.429 3.75079 37.3858 3.93736V3.95432L31.6826 33.1413C31.6579 33.1829 31.6163 33.2739 31.5022 33.3649C31.3819 33.4604 31.2863 33.5206 30.7852 33.3217L21.673 26.3356L16.1686 31.3528L17.325 23.9674L32.2129 10.0908C32.8266 9.52035 32.6215 9.40008 32.6215 9.40008C32.6647 8.70009 31.6949 9.19502 31.6949 9.19502L12.9215 20.8251L12.9153 20.7943L3.91717 17.7645V17.7584L3.89404 17.7538C3.90981 17.7485 3.92526 17.7423 3.94029 17.7353L3.98963 17.7106L4.03743 17.6936C4.03743 17.6936 12.0719 14.3077 20.239 10.8695C24.328 9.14722 28.4478 7.41266 31.6163 6.07434C33.4954 5.28338 35.3764 4.49705 37.2594 3.71533C37.3858 3.66599 37.3257 3.66445 37.4166 3.66445Z"
              ></path>
            </svg>
          </a>
          <a href="https://wa.me/+79173977723">
            <svg
              width="37"
              height="37"
              viewBox="0 0 37 37"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="bi:whatsapp" clip-path="url(#clip0_12_156)">
                <path
                  id="Vector"
                  d="M31.1413 5.73361C29.4909 4.06788 27.5254 2.74729 25.3595 1.84877C23.1936 0.950259 20.8705 0.4918 18.5256 0.500111C8.69981 0.500111 0.692063 8.50561 0.683063 18.3336C0.683063 21.4814 1.50656 24.5436 3.06131 27.2549L0.539062 36.5001L9.99806 34.0206C12.6148 35.4447 15.5464 36.1911 18.5256 36.1919H18.5346C28.3626 36.1919 36.3681 28.1864 36.3771 18.3494C36.3793 16.005 35.9176 13.6833 35.0187 11.5181C34.1197 9.35289 32.8034 7.38698 31.1413 5.73361ZM18.5256 33.1724C15.8683 33.1733 13.2599 32.4582 10.9746 31.1024L10.4346 30.7784L4.82306 32.2499L6.32156 26.7756L5.97056 26.2109C4.48513 23.8491 3.69952 21.1147 3.70481 18.3246C3.70481 10.1661 10.3581 3.51061 18.5346 3.51061C20.4825 3.50712 22.4118 3.88923 24.2114 4.63492C26.0109 5.38061 27.645 6.47512 29.0196 7.85536C30.3989 9.23022 31.4924 10.8646 32.2369 12.6641C32.9814 14.4637 33.3623 16.3929 33.3576 18.3404C33.3486 26.5281 26.6953 33.1724 18.5256 33.1724ZM26.6593 22.0709C26.2161 21.8481 24.0268 20.7704 23.6151 20.6174C23.2056 20.4711 22.9063 20.3946 22.6138 20.8401C22.3146 21.2834 21.4596 22.2936 21.2031 22.5839C20.9466 22.8831 20.6811 22.9169 20.2356 22.6964C19.7923 22.4714 18.3546 22.0034 16.6536 20.4801C15.3261 19.2989 14.4373 17.8364 14.1718 17.3931C13.9153 16.9476 14.1471 16.7091 14.3698 16.4864C14.5656 16.2884 14.8131 15.9644 15.0358 15.7079C15.2608 15.4514 15.3351 15.2624 15.4813 14.9654C15.6276 14.6639 15.5578 14.4074 15.4476 14.1846C15.3351 13.9619 14.4463 11.7636 14.0706 10.8771C13.7106 10.0019 13.3438 10.1234 13.0693 10.1121C12.8128 10.0964 12.5136 10.0964 12.2143 10.0964C11.9883 10.102 11.7659 10.1542 11.5611 10.2499C11.3563 10.3455 11.1735 10.4825 11.0241 10.6521C10.6146 11.0976 9.46931 12.1754 9.46931 14.3736C9.46931 16.5719 11.0668 18.6846 11.2918 18.9839C11.5123 19.2831 14.4283 23.7809 18.9036 25.7159C19.9611 26.1771 20.7936 26.4494 21.4438 26.6564C22.5126 26.9984 23.4778 26.9466 24.2473 26.8364C25.1023 26.7059 26.8821 25.7564 27.2578 24.7146C27.6268 23.6706 27.6268 22.7796 27.5143 22.5929C27.4041 22.4039 27.1048 22.2936 26.6593 22.0709Z"
                  fill="white"></path>
              </g>
              <defs>
                <clipPath id="clip0_12_156">
                  <rect
                    width="36"
                    height="36"
                    fill="white"
                    transform="translate(0.539062 0.5)"></rect>
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>
      </form>
    </div>
  </div>
</section>
