<section id="faq" class="w-full p-4 py-12 max-w-screen-2xl mx-auto">
  <h1 class="text-4xl text-center self-center text-white">FAQ</h1>
  <p class="text-center self-center text-white my-6">
    Самые частые вопросы и ответы на них.
  </p>
  <!--
    FAQ - Frequently Asked Questions TailwindCSS Component
    with <details> and <summary> tag with custom [open] animation.
    Created by Surjith S M (@surjithctly)
    See more components: https://web3components.dev
-->

  <div class="max-w-screen-xl mx-auto sm:px-5">
    <div class="grid rounded-sm max-w-2xl mx-auto mt-8">
      <div class="accord-item border-b border-white">
        <details class="group">
          <summary
            class="flex gap-2 xs:gap-4 py-5 px-4 justify-between items-center font-medium cursor-pointer list-none"
          >
            <span class="header text-white"
              >Как проходит процесс работы над заказом?</span
            >
            <span class="arrows text-white transition group-open:rotate-180">
              <svg
                fill="none"
                height="24"
                shape-rendering="geometricPrecision"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                width="24"
                ><path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p
            class="text-white px-4 pb-5 opacity-80 mt-3 group-open:animate-fadeIn"
          >
            1. <strong>Знакомство.</strong> Вы выберете удобное время для созвона,
            на котором расскажете о своём проекте. В ходе разговора определим, как
            будет строится работа над сайтом.<br /><br />
            2. <strong>Анализ.</strong> На первом этапе работы мы изучаем вашу сферу
            и ваш бизнес. Проводим анализ конкурентов, чтобы понять, как выделить
            вас на данном рынке. Также анализируем целевую аудиторию будущего сайта
            и подбираем референсы.
            <br /><br />
            3. <strong>Дизайн.</strong> Когда концепция, референсы, функциональность
            сайта продуманы и проанализированы, мы приступаем к дизайну. Мы готовим
            макет сайта и отправляем вам на одобрение.
            <br /><br />
            4. <strong>Оплата.</strong> Когда макет сайта полностью готов и одобрен
            заказчиком, мы начинаем приступать к разработке. В этот момент вносится
            предоплата - 50% от общей стоимости.
            <br /><br />
            5. <strong>Верстка.</strong> На этой стадии сайт непосредственно переходит
            из макета в код. Верстка включает в себя плавную перестройку сайта под
            все разрешения экрана, поисковую оптимизацию контента, создание интерактивных
            элементов.

            <br /><br />
            6. <strong>Доработка.</strong> Сайт отправляется вам на одобрение, вносятся(по
            необходимости) правки и когда проект принят, переходим к завершающей
            стадии.
            <br /><br />
            7. <strong>Финал.</strong> Вы оплачиваете вторую половину стоимости проекта.
            Мы регистрируем на вас домен и обсуждаем техническую поддержку сайта.
          </p>
        </details>
      </div>
      <div class="accord-item border-b border-white">
        <details class="group">
          <summary
            class="flex gap-2 xs:gap-4 py-5 px-4 justify-between items-center font-medium cursor-pointer list-none"
          >
            <span class="header text-white">
              Что если понадобится внести изменения в уже сделанный сайт?</span
            >
            <span class="arrows text-white transition group-open:rotate-180">
              <svg
                fill="none"
                height="24"
                shape-rendering="geometricPrecision"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                width="24"
                ><path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p
            class="text-white px-4 pb-4 opacity-30 mt-3 group-open:animate-fadeIn"
          >
            Лучше всего вносить правки в момент создания макета, так как на этом
            этапе изменения не затрагивают структуру HTML и CSS.<br />

            После верстки, правки осуществляются бесплатно до принятия работы.
            (за исключением радикальных изменение в структуре и макете)
            <br />
            После передачи проекта, правки делаются исходя из почасовой оплаты труда
            (2000р/час).
          </p>
        </details>
      </div>
      <div class="accord-item border-b border-white">
        <details class="group">
          <summary
            class="flex gap-2 xs:gap-4 py-5 px-4 justify-between items-center font-medium cursor-pointer list-none"
          >
            <span class="header text-white">
              Стоит ли переплачивать за ручную верстку? “Тильда” хуже?
            </span>
            <span class="arrows text-white transition group-open:rotate-180">
              <svg
                fill="none"
                height="24"
                shape-rendering="geometricPrecision"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                width="24"
                ><path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p
            class="text-white pb-4 px-4 opacity-80 mt-3 group-open:animate-fadeIn"
          >
            Ручная верстка — это стандарт для всех крупных дизайн студий и
            бизнесов. Вот почему:
            <br /><br />
            <svg
              class="inline-block mb-1 mr-2 text-pinky-500"
              width="18"
              height="18"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13 3C13 2.44772 12.5523 2 12 2C11.4477 2 11 2.44772 11 3V11H3C2.44772 11 2 11.4477 2 12C2 12.5523 2.44772 13 3 13H11V21C11 21.5523 11.4477 22 12 22C12.5523 22 13 21.5523 13 21V13H21C21.5523 13 22 12.5523 22 12C22 11.4477 21.5523 11 21 11H13V3Z"
                fill="#bf6d6d"></path>
            </svg>
            Статические сайты, созданные с нуля, загружаются в 10 раз быстрее, чем
            такие конструкторы страниц, как Тильда, Wordpress. Если ваш сайт загружается
            более 3 секунд, большинство посетителей покинут его, потеряв клиентов.

            <br /><br />

            <svg
            class="inline-block mb-1 mr-2 text-pinky-500"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13 3C13 2.44772 12.5523 2 12 2C11.4477 2 11 2.44772 11 3V11H3C2.44772 11 2 11.4477 2 12C2 12.5523 2.44772 13 3 13H11V21C11 21.5523 11.4477 22 12 22C12.5523 22 13 21.5523 13 21V13H21C21.5523 13 22 12.5523 22 12C22 11.4477 21.5523 11 21 11H13V3Z"
              fill="#bf6d6d"></path>
          </svg>Google индексирует ваш сайт в зависимости от того, как работает
            ваш мобильный сайт, а мобильные сайты, созданные с помощью
            конструкторов страниц, не так оптимизированы, не так быстры, не так
            хорошо сделаны и часто не на 100% реагируют на запросы, что может
            помешать вашему рейтингу в поисковой выдаче
            <br /><br />

            <svg
            class="inline-block mb-1 mr-2 text-pinky-500"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13 3C13 2.44772 12.5523 2 12 2C11.4477 2 11 2.44772 11 3V11H3C2.44772 11 2 11.4477 2 12C2 12.5523 2.44772 13 3 13H11V21C11 21.5523 11.4477 22 12 22C12.5523 22 13 21.5523 13 21V13H21C21.5523 13 22 12.5523 22 12C22 11.4477 21.5523 11 21 11H13V3Z"
              fill="#bf6d6d"></path>
          </svg>Констукторы сайтов печально известны своими уязвимостями, и такие
            сайты необходимо регулярно обновлять, чтобы устранять недостатки в
            системе безопасности, которые могут быть использованы хакерами для
            взлома вашего сайта. Статические сайты, созданные вручную, не так
            легко взломать, они практически непробиваемы из-за своей простоты и
            отсутствия точек входа для взлома.
          </p>
        </details>
      </div>
      <div class="accord-item border-b border-white">
        <details class="group">
          <summary
            class="flex gap-2 xs:gap-4 py-5 px-4 justify-between items-center font-medium cursor-pointer list-none"
          >
            <span class="header text-white">
              Что входит в обслуживание сайта?
            </span>
            <span class="arrows text-white transition group-open:rotate-180">
              <svg
                fill="none"
                height="24"
                shape-rendering="geometricPrecision"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                width="24"
                ><path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p
            class="text-white px-4 pb-4 opacity-80 mt-3 group-open:animate-fadeIn"
          >
            Помимо самого сайта, существуют много смежных тем, которые нужно учитывать. То есть: хостинг, контроль за безопасностью, контроль за функциональностью. В случае, если вы решите доверить нам обслуживание сайта, вам не нужно будет изучать как работает сервер, как принимать формы обратной связи и тд. <br><br> Любые проблемы с сетью будут нашей ответственностью и решаться нами бесплатно. Вы же можете сконцентрироваться на том, что для вас важно
          </p>
        </details>
      </div>
      <div class="accord-item border-b border-white">
        <details class="group">
          <summary
            class="flex gap-2 xs:gap-4 py-5 px-4 justify-between items-center font-medium cursor-pointer list-none"
          >
            <span class="header text-white">
              Сколько по времени занимает создание сайта?</span
            >
            <span class="arrows text-white transition group-open:rotate-180">
              <svg
                fill="none"
                height="24"
                shape-rendering="geometricPrecision"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                width="24"
                ><path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p
            class="text-white px-4 pb-4 opacity-80 mt-3 group-open:animate-fadeIn"
          >
            Примерные сроки таковы: <br><br>

            <svg
            class="inline-block mb-1 mr-2 text-pinky-500"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13 3C13 2.44772 12.5523 2 12 2C11.4477 2 11 2.44772 11 3V11H3C2.44772 11 2 11.4477 2 12C2 12.5523 2.44772 13 3 13H11V21C11 21.5523 11.4477 22 12 22C12.5523 22 13 21.5523 13 21V13H21C21.5523 13 22 12.5523 22 12C22 11.4477 21.5523 11 21 11H13V3Z"
              fill="#bf6d6d"></path>
          </svg>Обсуждение проекта и Анализ - 1-2 дня.
            <br /><br />
            <svg
            class="inline-block mb-1 mr-2 text-pinky-500"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13 3C13 2.44772 12.5523 2 12 2C11.4477 2 11 2.44772 11 3V11H3C2.44772 11 2 11.4477 2 12C2 12.5523 2.44772 13 3 13H11V21C11 21.5523 11.4477 22 12 22C12.5523 22 13 21.5523 13 21V13H21C21.5523 13 22 12.5523 22 12C22 11.4477 21.5523 11 21 11H13V3Z"
              fill="#bf6d6d"></path>
          </svg>Создание Макета - 3-4 дня.
            <br /><br />
            <svg
            class="inline-block mb-1 mr-2 text-pinky-500"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13 3C13 2.44772 12.5523 2 12 2C11.4477 2 11 2.44772 11 3V11H3C2.44772 11 2 11.4477 2 12C2 12.5523 2.44772 13 3 13H11V21C11 21.5523 11.4477 22 12 22C12.5523 22 13 21.5523 13 21V13H21C21.5523 13 22 12.5523 22 12C22 11.4477 21.5523 11 21 11H13V3Z"
              fill="#bf6d6d"></path>
          </svg>Разработка - в среднем 7-14 дней.
                      <br /><br />

          </p>
        </details>
      </div>

    </div>
  </div>
</section>

<script>
  const accordItems = document.querySelectorAll(".accord-item");
  const arrows = document.querySelectorAll(".arrows");
  const header = document.querySelectorAll(".header");
  accordItems.forEach((item) => {
    item.addEventListener("click", () => {
      const target = event.target;

      // Check if the clicked element is the <p> element
      if (target.tagName.toLowerCase() === "p") {
        event.stopPropagation(); // Stop event propagation to prevent color changes
      } else {
        const localArrows = item.querySelector(".arrows");
        const localHeader = item.querySelector(".header");
        localArrows.classList.toggle("text-pinky-500");
        localHeader.classList.toggle("text-pinky-500");
        localArrows.classList.toggle("text-white");
        localHeader.classList.toggle("text-white");
      }
    });
  });
</script>
