<section
  id="footer"
  class="max-w-screen-2xl flex sm:flex-row gap-4 items-center xl:py-20 xl:pb-14 py-4 lg:py-32 px-4 md:px-16 mx-auto justify-center"
>
  <div id="wrapper-dad" class="flex flex-col w-full py-20 pb-10 gap-10">
    <div id="wrapper-first" class="flex w-full justify-between">
      <div id="logo-svg" class="h-auto w-10 hover:cursor-pointer lg:flex">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="bi:code-square" clip-path="url(#clip0_12_867)">
            <g id="Group">
              <path
                id="Vector"
                d="M31.5 2.25C32.0967 2.25 32.669 2.48705 33.091 2.90901C33.5129 3.33097 33.75 3.90326 33.75 4.5V31.5C33.75 32.0967 33.5129 32.669 33.091 33.091C32.669 33.5129 32.0967 33.75 31.5 33.75H4.5C3.90326 33.75 3.33097 33.5129 2.90901 33.091C2.48705 32.669 2.25 32.0967 2.25 31.5V4.5C2.25 3.90326 2.48705 3.33097 2.90901 2.90901C3.33097 2.48705 3.90326 2.25 4.5 2.25H31.5ZM4.5 0C3.30653 0 2.16193 0.474106 1.31802 1.31802C0.474106 2.16193 0 3.30653 0 4.5L0 31.5C0 32.6935 0.474106 33.8381 1.31802 34.682C2.16193 35.5259 3.30653 36 4.5 36H31.5C32.6935 36 33.8381 35.5259 34.682 34.682C35.5259 33.8381 36 32.6935 36 31.5V4.5C36 3.30653 35.5259 2.16193 34.682 1.31802C33.8381 0.474106 32.6935 0 31.5 0L4.5 0Z"
                fill="white"></path>
              <path
                id="Vector_2"
                d="M15.4216 10.4536C15.5263 10.5581 15.6094 10.6822 15.6662 10.8189C15.7229 10.9556 15.7521 11.1021 15.7521 11.2501C15.7521 11.398 15.7229 11.5446 15.6662 11.6812C15.6094 11.8179 15.5263 11.9421 15.4216 12.0466L9.46581 18.0001L15.4216 23.9536C15.6328 24.1648 15.7515 24.4513 15.7515 24.7501C15.7515 25.0488 15.6328 25.3353 15.4216 25.5466C15.2103 25.7578 14.9238 25.8765 14.6251 25.8765C14.3263 25.8765 14.0398 25.7578 13.8286 25.5466L7.07856 18.7966C6.97379 18.6921 6.89067 18.5679 6.83395 18.4312C6.77724 18.2946 6.74805 18.148 6.74805 18.0001C6.74805 17.8521 6.77724 17.7056 6.83395 17.5689C6.89067 17.4322 6.97379 17.3081 7.07856 17.2036L13.8286 10.4536C13.9331 10.3488 14.0572 10.2657 14.1939 10.209C14.3306 10.1522 14.4771 10.123 14.6251 10.123C14.773 10.123 14.9196 10.1522 15.0562 10.209C15.1929 10.2657 15.3171 10.3488 15.4216 10.4536ZM20.5786 10.4536C20.4738 10.5581 20.3907 10.6822 20.334 10.8189C20.2772 10.9556 20.248 11.1021 20.248 11.2501C20.248 11.398 20.2772 11.5446 20.334 11.6812C20.3907 11.8179 20.4738 11.9421 20.5786 12.0466L26.5343 18.0001L20.5786 23.9536C20.3673 24.1648 20.2486 24.4513 20.2486 24.7501C20.2486 25.0488 20.3673 25.3353 20.5786 25.5466C20.7898 25.7578 21.0763 25.8765 21.3751 25.8765C21.6738 25.8765 21.9603 25.7578 22.1716 25.5466L28.9216 18.7966C29.0263 18.6921 29.1094 18.5679 29.1662 18.4312C29.2229 18.2946 29.2521 18.148 29.2521 18.0001C29.2521 17.8521 29.2229 17.7056 29.1662 17.5689C29.1094 17.4322 29.0263 17.3081 28.9216 17.2036L22.1716 10.4536C22.0671 10.3488 21.9429 10.2657 21.8062 10.209C21.6696 10.1522 21.523 10.123 21.3751 10.123C21.2271 10.123 21.0806 10.1522 20.9439 10.209C20.8072 10.2657 20.6831 10.3488 20.5786 10.4536Z"
                fill="white"></path>
            </g>
          </g>
          <defs>
            <clipPath id="clip0_12_867">
              <rect width="36" height="36" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>

      <nav class="hidden items-center lg:flex">
        <ul class="flex justify-between text-white gap-9">
          <li><a href="#portfolio" class="text-lg">Портфолио</a></li>
          <li><a href="#faq" class="text-lg">FAQ</a></li>
          <li><a href="#whyme" class="text-lg">Почему я?</a></li>
          <li><a href="#contact" class="text-lg">Контакты</a></li>
        </ul>
      </nav>
      <div class="contacts flex gap-4">
        <svg
          width="41"
          height="37"
          viewBox="0 0 41 37"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="Vector"
            d="M37.5724 0.503686C37.0774 0.539697 36.5916 0.655817 36.1338 0.847515H36.1277C35.6882 1.02174 33.5991 1.90059 30.4229 3.23274L19.041 8.02631C10.8739 11.4646 2.84559 14.8505 2.84559 14.8505L2.94118 14.8135C2.94118 14.8135 2.38766 14.9954 1.80947 15.3917C1.45227 15.619 1.1449 15.9164 0.905958 16.2659C0.62226 16.6822 0.394069 17.319 0.47887 17.9773C0.617635 19.0905 1.33921 19.7581 1.85727 20.1266C2.3815 20.4998 2.88105 20.674 2.88105 20.674H2.89339L10.4222 23.2103C10.7598 24.2942 12.7164 30.7268 13.1867 32.2085C13.4642 33.0935 13.734 33.647 14.0717 34.0695C14.2351 34.2853 14.4263 34.4657 14.6561 34.6107C14.7755 34.6801 14.9028 34.735 15.0353 34.7741L14.9583 34.7556C14.9814 34.7618 14.9999 34.7803 15.0168 34.7864C15.0785 34.8034 15.1201 34.8096 15.1988 34.8219C16.3906 35.1827 17.3481 34.4426 17.3481 34.4426L17.4021 34.3994L21.8472 30.3521L29.2973 36.0677L29.4669 36.1402C31.0196 36.8216 32.5922 36.4424 33.4233 35.7732C34.2605 35.0994 34.5858 34.2375 34.5858 34.2375L34.6398 34.0988L40.397 4.60497C40.5605 3.87722 40.6021 3.19573 40.4217 2.53429C40.2356 1.86486 39.8061 1.28911 39.2175 0.919981C38.7232 0.619501 38.1501 0.474466 37.5724 0.503686ZM37.4166 3.66445C37.4105 3.76159 37.429 3.75079 37.3858 3.93736V3.95432L31.6826 33.1413C31.6579 33.1829 31.6163 33.2739 31.5022 33.3649C31.3819 33.4604 31.2863 33.5206 30.7852 33.3217L21.673 26.3356L16.1686 31.3528L17.325 23.9674L32.2129 10.0908C32.8266 9.52035 32.6215 9.40008 32.6215 9.40008C32.6647 8.70009 31.6949 9.19502 31.6949 9.19502L12.9215 20.8251L12.9153 20.7943L3.91717 17.7645V17.7584L3.89404 17.7538C3.90981 17.7485 3.92526 17.7423 3.94029 17.7353L3.98963 17.7106L4.03743 17.6936C4.03743 17.6936 12.0719 14.3077 20.239 10.8695C24.328 9.14722 28.4478 7.41266 31.6163 6.07434C33.4954 5.28338 35.3764 4.49705 37.2594 3.71533C37.3858 3.66599 37.3257 3.66445 37.4166 3.66445Z"
            fill="white"></path>
        </svg>
        <svg
          width="37"
          height="37"
          viewBox="0 0 37 37"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="bi:whatsapp" clip-path="url(#clip0_12_156)">
            <path
              id="Vector"
              d="M31.1413 5.73361C29.4909 4.06788 27.5254 2.74729 25.3595 1.84877C23.1936 0.950259 20.8705 0.4918 18.5256 0.500111C8.69981 0.500111 0.692063 8.50561 0.683063 18.3336C0.683063 21.4814 1.50656 24.5436 3.06131 27.2549L0.539062 36.5001L9.99806 34.0206C12.6148 35.4447 15.5464 36.1911 18.5256 36.1919H18.5346C28.3626 36.1919 36.3681 28.1864 36.3771 18.3494C36.3793 16.005 35.9176 13.6833 35.0187 11.5181C34.1197 9.35289 32.8034 7.38698 31.1413 5.73361ZM18.5256 33.1724C15.8683 33.1733 13.2599 32.4582 10.9746 31.1024L10.4346 30.7784L4.82306 32.2499L6.32156 26.7756L5.97056 26.2109C4.48513 23.8491 3.69952 21.1147 3.70481 18.3246C3.70481 10.1661 10.3581 3.51061 18.5346 3.51061C20.4825 3.50712 22.4118 3.88923 24.2114 4.63492C26.0109 5.38061 27.645 6.47512 29.0196 7.85536C30.3989 9.23022 31.4924 10.8646 32.2369 12.6641C32.9814 14.4637 33.3623 16.3929 33.3576 18.3404C33.3486 26.5281 26.6953 33.1724 18.5256 33.1724ZM26.6593 22.0709C26.2161 21.8481 24.0268 20.7704 23.6151 20.6174C23.2056 20.4711 22.9063 20.3946 22.6138 20.8401C22.3146 21.2834 21.4596 22.2936 21.2031 22.5839C20.9466 22.8831 20.6811 22.9169 20.2356 22.6964C19.7923 22.4714 18.3546 22.0034 16.6536 20.4801C15.3261 19.2989 14.4373 17.8364 14.1718 17.3931C13.9153 16.9476 14.1471 16.7091 14.3698 16.4864C14.5656 16.2884 14.8131 15.9644 15.0358 15.7079C15.2608 15.4514 15.3351 15.2624 15.4813 14.9654C15.6276 14.6639 15.5578 14.4074 15.4476 14.1846C15.3351 13.9619 14.4463 11.7636 14.0706 10.8771C13.7106 10.0019 13.3438 10.1234 13.0693 10.1121C12.8128 10.0964 12.5136 10.0964 12.2143 10.0964C11.9883 10.102 11.7659 10.1542 11.5611 10.2499C11.3563 10.3455 11.1735 10.4825 11.0241 10.6521C10.6146 11.0976 9.46931 12.1754 9.46931 14.3736C9.46931 16.5719 11.0668 18.6846 11.2918 18.9839C11.5123 19.2831 14.4283 23.7809 18.9036 25.7159C19.9611 26.1771 20.7936 26.4494 21.4438 26.6564C22.5126 26.9984 23.4778 26.9466 24.2473 26.8364C25.1023 26.7059 26.8821 25.7564 27.2578 24.7146C27.6268 23.6706 27.6268 22.7796 27.5143 22.5929C27.4041 22.4039 27.1048 22.2936 26.6593 22.0709Z"
              fill="white"></path>
          </g>
          <defs>
            <clipPath id="clip0_12_156">
              <rect
                width="36"
                height="36"
                fill="white"
                transform="translate(0.539062 0.5)"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
    <div id="wrapper-second" class="border-t border-white">
      <p class="text-sm mt-10 text-center opacity-40 text-white">
        2023 Web Whim Studio. All right reserved.
      </p>
    </div>
  </div>
</section>
