---
import "../../src/styles.css";
---

<div id="header">
  <section
    id="section"
    id="navbar-section"
    class="w-full p-4 max-w-screen-2xl mx-auto"
  >
    <div
      id="dropdown"
      class="absolute top-0 right-0 z-20 hidden h-screen w-full bg-pinky-500 opacity-0 md:h-auto pb-8 lg:hidden"
    >
      <div id="exit-container" class="ml-auto mr-4 w-10 py-4 pr-2 shadow-2xl">
        <svg
          id="exit-icon"
          xmlns="http://www.w3.org/2000/svg"
          height="100%"
          width="100%"
          fill="#F4EEE4"
          viewBox="0 0 384 512"
        >
          <!-- Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            class="text-white"
            d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
          ></path>
        </svg>
      </div>
      <ul class="mt-12 flex flex-col text-white items-end pr-6 gap-8">
        <li><a href="#portfolio" class="text-lg">Портфолио</a></li>
        <li><a href="#faq" class="text-lg">FAQ</a></li>
        <li><a href="#whyme" class="text-lg">Почему я?</a></li>
        <li><a href="#contact" class="text-lg">Контакты</a></li>
      </ul>
    </div>

    <div
      id="navbar-container"
      class="mx-auto flex h-full justify-between md:px-12 lg:items-center"
    >
      <div id="logo-svg" class=" h-auto w-14 hover:cursor-pointer lg:flex">
        <svg version="1.1" fill="white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 2048.0 2048.0">		<g id="document" transform="matrix(1,0,0,1,1024.0,1024.0)">			<path d="M-735.015,18.2416 C-735.015,424.846 -406.604,753.257 6.83586e-05,753.257 C403.477,753.257 731.888,424.846 735.016,21.3693 C731.888,121.457 650.567,199.65 550.48,199.65 C450.393,199.65 365.944,118.329 365.944,15.1139 C365.944,-422.768 365.944,225.721 365.944,-202.777 C365.944,-506.167 118.854,-753.257 -184.536,-753.257 C-487.925,-753.257 -735.015,-506.167 -735.015,-202.777 L-735.015,18.2416 Z M-460.035,-303.001 C-395.558,-303.001 -342.624,-250.465 -343.022,-185.988 L-343.022,-22.0113 C-343.022,42.4651 -395.956,95.0014 -460.035,95.0014 C-524.113,95.0014 -577.048,42.8631 -577.048,-22.0113 L-577.048,-185.988 C-577.048,-250.465 -524.511,-303.001 -460.035,-303.001 Z M-117.015,-303.001 C-52.5386,-303.001 0.395774,-250.465 -0.00222982,-185.988 L-0.00222982,-22.0113 C-0.00222982,42.4651 -52.9366,95.0014 -117.015,95.0014 C-181.093,95.0014 -234.028,42.8631 -234.028,-22.0113 L-234.028,-185.988 C-234.028,-250.465 -181.491,-303.001 -117.015,-303.001 Z " fill="white" fill-opacity="1.00"/>		</g>	</svg>
      </div>

      <!--** responsive menu -->

      <!--** desktop menu -->
      <nav class="hidden items-center lg:flex">
        <ul class="flex justify-between text-white gap-9">
          <li><a href="#whyme" class="text-lg">Почему я?</a></li>
          <li><a href="#portfolio" class="text-lg">Портфолио</a></li>
          <li><a href="#faq" class="text-lg">FAQ</a></li>
          <li><a href="#contact" class="text-lg">Контакты</a></li>
        </ul>
      </nav>

      <!--** SVG MENU -->
      <div id="menu-svg" class="logos w-10 lg:hidden hover:cursor-pointer">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 41 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="Vector"
            d="M6.36586 14.4H35.1407C35.5717 14.4022 35.9978 14.3076 36.3875 14.1231C36.7771 13.9387 37.1204 13.6691 37.392 13.3343C37.6635 12.9995 37.8565 12.608 37.9566 12.1887C38.0567 11.7694 38.0613 11.333 37.9703 10.9116C36.6329 4.59 29.3933 0 20.7533 0C12.1133 0 4.87366 4.59 3.53626 10.9116C3.44519 11.333 3.44987 11.7694 3.54996 12.1887C3.65005 12.608 3.843 12.9995 4.11457 13.3343C4.38614 13.6691 4.72941 13.9387 5.11905 14.1231C5.50869 14.3076 5.93477 14.4022 6.36586 14.4ZM20.7533 2.88C27.9209 2.88 34.1111 6.5898 35.1407 11.52H6.36586L6.35326 11.5074C7.39546 6.5898 13.5857 2.88 20.7533 2.88ZM38.9801 23.1264L31.5767 25.8264L24.8933 23.1426C24.5501 23.0054 24.1673 23.0054 23.8241 23.1426L17.1641 25.8084L10.4933 23.1426C10.1649 23.0114 9.79965 23.0056 9.46726 23.1264L1.54726 26.0064C1.21253 26.1537 0.946396 26.4229 0.802887 26.7593C0.659378 27.0957 0.649244 27.4741 0.774541 27.8177C0.899839 28.1613 1.15118 28.4444 1.47755 28.6094C1.80392 28.7744 2.18086 28.8091 2.53186 28.7064L4.91326 27.8442V28.8C4.91326 30.7096 5.67183 32.5409 7.02209 33.8912C8.37236 35.2414 10.2037 36 12.1133 36H29.3933C31.3028 36 33.1342 35.2414 34.4844 33.8912C35.8347 32.5409 36.5933 30.7096 36.5933 28.8V27.0594L39.9647 25.8336C40.1537 25.7783 40.3294 25.6848 40.4809 25.5588C40.6323 25.4329 40.7563 25.2772 40.8452 25.1014C40.9341 24.9256 40.986 24.7335 40.9977 24.5369C41.0093 24.3402 40.9805 24.1433 40.9131 23.9582C40.8456 23.7732 40.7408 23.6039 40.6053 23.461C40.4698 23.318 40.3064 23.2044 40.1252 23.1271C39.9441 23.0498 39.749 23.0105 39.552 23.0116C39.355 23.0127 39.1603 23.0542 38.9801 23.1336V23.1264ZM33.7133 28.8C33.7133 29.9457 33.2581 31.0445 32.448 31.8547C31.6378 32.6649 30.539 33.12 29.3933 33.12H12.1133C10.9675 33.12 9.86872 32.6649 9.05856 31.8547C8.2484 31.0445 7.79326 29.9457 7.79326 28.8V26.7984L9.92986 26.0208L16.6133 28.6974C16.9565 28.8346 17.3393 28.8346 17.6825 28.6974L24.3425 26.0316L31.0025 28.6974C31.3309 28.8286 31.6961 28.8344 32.0285 28.7136L33.6971 28.107L33.7133 28.8ZM0.593262 18.72C0.593262 18.3381 0.744976 17.9718 1.01503 17.7018C1.28508 17.4317 1.65135 17.28 2.03326 17.28H39.4733C39.8552 17.28 40.2214 17.4317 40.4915 17.7018C40.7616 17.9718 40.9133 18.3381 40.9133 18.72C40.9133 19.1019 40.7616 19.4682 40.4915 19.7382C40.2214 20.0083 39.8552 20.16 39.4733 20.16H2.03326C1.65135 20.16 1.28508 20.0083 1.01503 19.7382C0.744976 19.4682 0.593262 19.1019 0.593262 18.72Z"
            fill="white"></path>
        </svg>
      </div>
    </div>
  </section>
  <p class="text-3xl"></p>
</div>

<script>
  const menu = document.querySelector("#menu-svg");
  const dropdown = document.querySelector("#dropdown");
  const exitBtn = document.querySelector("#exit-container");
  const links = dropdown.querySelectorAll("a");
  const logos = document.querySelectorAll(".logos");

  logos.forEach((logo) => {
    logo.onclick = function reload() {
      location.reload();
    };
  });

  links.forEach((link) => {
    link.onclick = toggleMenu;
  });

  function toggleMenu() {
    if (dropdown.classList.contains("opacity-0")) {
      dropdown.classList.remove("scale-out-ver-top");
      dropdown.classList.remove("hidden");
      dropdown.classList.remove("opacity-0");
      dropdown.classList.add("opacity-100");
      dropdown.classList.add("scale-in-ver-top");
      disableScroll();
    } else {
      dropdown.classList.remove("opacity-100");
      dropdown.classList.remove("scale-in-ver-top");
      dropdown.classList.add("opacity-0");
      dropdown.classList.add("scale-out-ver-top");
      enableScroll();
    }
  }

  function enableScroll() {
    document.body.style.overflow = "visible";
  }

  function disableScroll() {
    document.body.style.overflow = "hidden";
  }

  console.log(menu);
  menu.onclick = toggleMenu;
  exitBtn.onclick = toggleMenu;
</script>


<style>


</style>