---
import "../../src/styles.css";
---

<div id="header">
  <section
    id="section"
    id="navbar-section"
    class="w-full p-4 max-w-screen-2xl mx-auto"
  >
    <div
      id="dropdown"
      class="absolute top-0 right-0 z-20 hidden h-screen w-full bg-pinky-500 opacity-0 md:h-auto pb-8 lg:hidden"
    >
      <div id="exit-container" class="ml-auto mr-4 w-10 py-4 pr-2 shadow-2xl">
        <svg
          id="exit-icon"
          xmlns="http://www.w3.org/2000/svg"
          height="100%"
          width="100%"
          fill="#F4EEE4"
          viewBox="0 0 384 512"
        >
          <!-- Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            class="text-white"
            d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
          ></path>
        </svg>
      </div>
      <ul class="mt-12 flex flex-col text-white items-end pr-6 gap-8">
        <li><a href="#portfolio" class="text-lg">Портфолио</a></li>
        <li><a href="#faq" class="text-lg">FAQ</a></li>
        <li><a href="#whyme" class="text-lg">Почему я?</a></li>
        <li><a href="#contact" class="text-lg">Контакты</a></li>
      </ul>
    </div>

    <div
      id="navbar-container"
      class="mx-auto flex h-full justify-between md:px-12 lg:items-center"
    >
      <div id="logo-svg" class=" h-auto w-10 hover:cursor-pointer lg:flex">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="bi:code-square" clip-path="url(#clip0_12_867)">
            <g id="Group">
              <path
                id="Vector"
                d="M31.5 2.25C32.0967 2.25 32.669 2.48705 33.091 2.90901C33.5129 3.33097 33.75 3.90326 33.75 4.5V31.5C33.75 32.0967 33.5129 32.669 33.091 33.091C32.669 33.5129 32.0967 33.75 31.5 33.75H4.5C3.90326 33.75 3.33097 33.5129 2.90901 33.091C2.48705 32.669 2.25 32.0967 2.25 31.5V4.5C2.25 3.90326 2.48705 3.33097 2.90901 2.90901C3.33097 2.48705 3.90326 2.25 4.5 2.25H31.5ZM4.5 0C3.30653 0 2.16193 0.474106 1.31802 1.31802C0.474106 2.16193 0 3.30653 0 4.5L0 31.5C0 32.6935 0.474106 33.8381 1.31802 34.682C2.16193 35.5259 3.30653 36 4.5 36H31.5C32.6935 36 33.8381 35.5259 34.682 34.682C35.5259 33.8381 36 32.6935 36 31.5V4.5C36 3.30653 35.5259 2.16193 34.682 1.31802C33.8381 0.474106 32.6935 0 31.5 0L4.5 0Z"
                fill="white"></path>
              <path
                id="Vector_2"
                d="M15.4216 10.4536C15.5263 10.5581 15.6094 10.6822 15.6662 10.8189C15.7229 10.9556 15.7521 11.1021 15.7521 11.2501C15.7521 11.398 15.7229 11.5446 15.6662 11.6812C15.6094 11.8179 15.5263 11.9421 15.4216 12.0466L9.46581 18.0001L15.4216 23.9536C15.6328 24.1648 15.7515 24.4513 15.7515 24.7501C15.7515 25.0488 15.6328 25.3353 15.4216 25.5466C15.2103 25.7578 14.9238 25.8765 14.6251 25.8765C14.3263 25.8765 14.0398 25.7578 13.8286 25.5466L7.07856 18.7966C6.97379 18.6921 6.89067 18.5679 6.83395 18.4312C6.77724 18.2946 6.74805 18.148 6.74805 18.0001C6.74805 17.8521 6.77724 17.7056 6.83395 17.5689C6.89067 17.4322 6.97379 17.3081 7.07856 17.2036L13.8286 10.4536C13.9331 10.3488 14.0572 10.2657 14.1939 10.209C14.3306 10.1522 14.4771 10.123 14.6251 10.123C14.773 10.123 14.9196 10.1522 15.0562 10.209C15.1929 10.2657 15.3171 10.3488 15.4216 10.4536ZM20.5786 10.4536C20.4738 10.5581 20.3907 10.6822 20.334 10.8189C20.2772 10.9556 20.248 11.1021 20.248 11.2501C20.248 11.398 20.2772 11.5446 20.334 11.6812C20.3907 11.8179 20.4738 11.9421 20.5786 12.0466L26.5343 18.0001L20.5786 23.9536C20.3673 24.1648 20.2486 24.4513 20.2486 24.7501C20.2486 25.0488 20.3673 25.3353 20.5786 25.5466C20.7898 25.7578 21.0763 25.8765 21.3751 25.8765C21.6738 25.8765 21.9603 25.7578 22.1716 25.5466L28.9216 18.7966C29.0263 18.6921 29.1094 18.5679 29.1662 18.4312C29.2229 18.2946 29.2521 18.148 29.2521 18.0001C29.2521 17.8521 29.2229 17.7056 29.1662 17.5689C29.1094 17.4322 29.0263 17.3081 28.9216 17.2036L22.1716 10.4536C22.0671 10.3488 21.9429 10.2657 21.8062 10.209C21.6696 10.1522 21.523 10.123 21.3751 10.123C21.2271 10.123 21.0806 10.1522 20.9439 10.209C20.8072 10.2657 20.6831 10.3488 20.5786 10.4536Z"
                fill="white"></path>
            </g>
          </g>
          <defs>
            <clipPath id="clip0_12_867">
              <rect width="36" height="36" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>

      <!--** responsive menu -->

      <!--** desktop menu -->
      <nav class="hidden items-center lg:flex">
        <ul class="flex justify-between text-white gap-9">
          <li><a href="#portfolio" class="text-lg">Портфолио</a></li>
          <li><a href="#faq" class="text-lg">FAQ</a></li>
          <li><a href="#whyme" class="text-lg">Почему я?</a></li>
          <li><a href="#contact" class="text-lg">Контакты</a></li>
        </ul>
      </nav>

      <!--** SVG MENU -->
      <div id="menu-svg" class="logos w-10 lg:hidden hover:cursor-pointer">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 41 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="Vector"
            d="M6.36586 14.4H35.1407C35.5717 14.4022 35.9978 14.3076 36.3875 14.1231C36.7771 13.9387 37.1204 13.6691 37.392 13.3343C37.6635 12.9995 37.8565 12.608 37.9566 12.1887C38.0567 11.7694 38.0613 11.333 37.9703 10.9116C36.6329 4.59 29.3933 0 20.7533 0C12.1133 0 4.87366 4.59 3.53626 10.9116C3.44519 11.333 3.44987 11.7694 3.54996 12.1887C3.65005 12.608 3.843 12.9995 4.11457 13.3343C4.38614 13.6691 4.72941 13.9387 5.11905 14.1231C5.50869 14.3076 5.93477 14.4022 6.36586 14.4ZM20.7533 2.88C27.9209 2.88 34.1111 6.5898 35.1407 11.52H6.36586L6.35326 11.5074C7.39546 6.5898 13.5857 2.88 20.7533 2.88ZM38.9801 23.1264L31.5767 25.8264L24.8933 23.1426C24.5501 23.0054 24.1673 23.0054 23.8241 23.1426L17.1641 25.8084L10.4933 23.1426C10.1649 23.0114 9.79965 23.0056 9.46726 23.1264L1.54726 26.0064C1.21253 26.1537 0.946396 26.4229 0.802887 26.7593C0.659378 27.0957 0.649244 27.4741 0.774541 27.8177C0.899839 28.1613 1.15118 28.4444 1.47755 28.6094C1.80392 28.7744 2.18086 28.8091 2.53186 28.7064L4.91326 27.8442V28.8C4.91326 30.7096 5.67183 32.5409 7.02209 33.8912C8.37236 35.2414 10.2037 36 12.1133 36H29.3933C31.3028 36 33.1342 35.2414 34.4844 33.8912C35.8347 32.5409 36.5933 30.7096 36.5933 28.8V27.0594L39.9647 25.8336C40.1537 25.7783 40.3294 25.6848 40.4809 25.5588C40.6323 25.4329 40.7563 25.2772 40.8452 25.1014C40.9341 24.9256 40.986 24.7335 40.9977 24.5369C41.0093 24.3402 40.9805 24.1433 40.9131 23.9582C40.8456 23.7732 40.7408 23.6039 40.6053 23.461C40.4698 23.318 40.3064 23.2044 40.1252 23.1271C39.9441 23.0498 39.749 23.0105 39.552 23.0116C39.355 23.0127 39.1603 23.0542 38.9801 23.1336V23.1264ZM33.7133 28.8C33.7133 29.9457 33.2581 31.0445 32.448 31.8547C31.6378 32.6649 30.539 33.12 29.3933 33.12H12.1133C10.9675 33.12 9.86872 32.6649 9.05856 31.8547C8.2484 31.0445 7.79326 29.9457 7.79326 28.8V26.7984L9.92986 26.0208L16.6133 28.6974C16.9565 28.8346 17.3393 28.8346 17.6825 28.6974L24.3425 26.0316L31.0025 28.6974C31.3309 28.8286 31.6961 28.8344 32.0285 28.7136L33.6971 28.107L33.7133 28.8ZM0.593262 18.72C0.593262 18.3381 0.744976 17.9718 1.01503 17.7018C1.28508 17.4317 1.65135 17.28 2.03326 17.28H39.4733C39.8552 17.28 40.2214 17.4317 40.4915 17.7018C40.7616 17.9718 40.9133 18.3381 40.9133 18.72C40.9133 19.1019 40.7616 19.4682 40.4915 19.7382C40.2214 20.0083 39.8552 20.16 39.4733 20.16H2.03326C1.65135 20.16 1.28508 20.0083 1.01503 19.7382C0.744976 19.4682 0.593262 19.1019 0.593262 18.72Z"
            fill="white"></path>
        </svg>
      </div>
    </div>
  </section>
  <p class="text-3xl"></p>
</div>

<script>
  const menu = document.querySelector("#menu-svg");
  const dropdown = document.querySelector("#dropdown");
  const exitBtn = document.querySelector("#exit-container");
  const links = dropdown.querySelectorAll("a");
  const logos = document.querySelectorAll(".logos");

  logos.forEach((logo) => {
    logo.onclick = function reload() {
      location.reload();
    };
  });

  links.forEach((link) => {
    link.onclick = toggleMenu;
  });

  function toggleMenu() {
    if (dropdown.classList.contains("opacity-0")) {
      dropdown.classList.remove("scale-out-ver-top");
      dropdown.classList.remove("hidden");
      dropdown.classList.remove("opacity-0");
      dropdown.classList.add("opacity-100");
      dropdown.classList.add("scale-in-ver-top");
      disableScroll();
    } else {
      dropdown.classList.remove("opacity-100");
      dropdown.classList.remove("scale-in-ver-top");
      dropdown.classList.add("opacity-0");
      dropdown.classList.add("scale-out-ver-top");
      enableScroll();
    }
  }

  function enableScroll() {
    document.body.style.overflow = "visible";
  }

  function disableScroll() {
    document.body.style.overflow = "hidden";
  }

  console.log(menu);
  menu.onclick = toggleMenu;
  exitBtn.onclick = toggleMenu;
</script>
